[Unit]
Description=Run Landlock test
DefaultDependencies=no

[Service]
ExecStart=bash uml-init.sh
Type=idle
PassEnvironment=PATH \
		UML_UID UML_CWD UML_RET\
		LANDLOCK_CRATE_TEST_ABI
StandardInput=tty
StandardOutput=inherit
StandardError=inherit
KillMode=process
IgnoreSIGPIPE=no
SendSIGHUP=yes
